@font-face {
	font-family: 'iconfont'; /* Project id 5055825 */
	src: url('/static/iconfont.ttf?t=1762147760337') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
}

.icon-empty:before {
	content: '\e61a';
}
