page,
view,
text,
image,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-white {
    background-color: #fff;
}

.bg-muted {
    background-color: #f5f5f5;
}

.text-black {
    color: #000;
}

.text-muted {
    color: #999;
}

.text-primary {
    color: #007aff;
}

.text-secondary {
    color: #666;
}

.text-success {
    color: #5cb85c;
}

.text-danger {
    color: #d9534f;
}

.text-warning {
    color: #f0ad4e;
}

.text-info {
    color: #5bc0de;
}

.text-light {
    color: #f8f8f8;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.rounded {
    border-radius: 8rpx;
}

.rounded-lg {
    border-radius: 16rpx;
}

.rounded-xl {
    border-radius: 24rpx;
}

.container {
    padding: 20rpx;
    box-sizing: border-box;
    min-height: 100vh;
    word-break: break-all;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制最多显示三行 */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 限制最多显示三行 */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 限制最多显示三行 */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.text-sm {
    font-size: 28rpx;
}

.text-xs {
    font-size: 24rpx;
}

.font-bold {
    font-weight: bold;
}

.p-1 {
    padding: 20rpx;
}

.p-2 {
    padding: 40rpx;
}

.mb-1 {
    margin-bottom: 20rpx;
}

.mb-2 {
    margin-bottom: 40rpx;
}
